body{
background:white;
}

.l1 > h1 {
    font-family: sans-serif;
    color:darkgreen;
    padding:25px;
    margin-bottom: 20px;
    font-size: xx-large;
    
    text-align:center;
}
.l2 > h1 {
    font-family: sans-serif;
    color:chocolate;
    padding:25px;
    font-size:18px;
   
    text-align:center;
} 
.container
{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:auto;
    height:700px;
    margin:auto;
    
    
}

.s{
    
    margin-left: 450px;
}

.l3 > a {
    float: left;
    width: 100px;
    height: 30px;
    background-color: var(--main-color-5);
    border-radius: 30px;
    text-align: center;
    padding: 2px;
    margin: 25px;
    margin-left: 575px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--main-color-1);
    cursor: pointer;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.4);
}

.l4 > a {
    float: left;
    width: 100px;
    height: 30px;
    background-color: var(--main-color-5);
    border-radius: 30px;
    text-align: center;
    padding: 2px;
    margin: 25px;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--main-color-1);
    cursor: pointer;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.4);
}

.l3 > a:hover {
    background-color: orange;
}

.l4 > a:hover {
    background-color: orange;
}